<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protecthair.dao.ExpenseMapper">
  <resultMap id="BaseResultMap" type="com.protecthair.domain.Expense">
    <constructor>
      <idArg column="expense_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="organization_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="expense_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="expense_organization" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_money" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="expense_event" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_agent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_certifictedCondition" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    expense_code, organization_code, expense_time, expense_organization, expense_money, 
    expense_event, expense_agent, expense_pic, expense_certifictedCondition
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from expense
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from expense
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.Expense">
    insert into expense (expense_code, organization_code, expense_time, 
      expense_organization, expense_money, expense_event, 
      expense_agent, expense_pic, expense_certifictedCondition
      )
    values (#{expenseCode,jdbcType=INTEGER}, #{organizationCode,jdbcType=INTEGER}, #{expenseTime,jdbcType=DATE}, 
      #{expenseOrganization,jdbcType=VARCHAR}, #{expenseMoney,jdbcType=REAL}, #{expenseEvent,jdbcType=VARCHAR}, 
      #{expenseAgent,jdbcType=VARCHAR}, #{expensePic,jdbcType=VARCHAR}, #{expenseCertifictedcondition,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.Expense">
    insert into expense
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expenseCode != null">
        expense_code,
      </if>
      <if test="organizationCode != null">
        organization_code,
      </if>
      <if test="expenseTime != null">
        expense_time,
      </if>
      <if test="expenseOrganization != null">
        expense_organization,
      </if>
      <if test="expenseMoney != null">
        expense_money,
      </if>
      <if test="expenseEvent != null">
        expense_event,
      </if>
      <if test="expenseAgent != null">
        expense_agent,
      </if>
      <if test="expensePic != null">
        expense_pic,
      </if>
      <if test="expenseCertifictedcondition != null">
        expense_certifictedCondition,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expenseCode != null">
        #{expenseCode,jdbcType=INTEGER},
      </if>
      <if test="organizationCode != null">
        #{organizationCode,jdbcType=INTEGER},
      </if>
      <if test="expenseTime != null">
        #{expenseTime,jdbcType=DATE},
      </if>
      <if test="expenseOrganization != null">
        #{expenseOrganization,jdbcType=VARCHAR},
      </if>
      <if test="expenseMoney != null">
        #{expenseMoney,jdbcType=REAL},
      </if>
      <if test="expenseEvent != null">
        #{expenseEvent,jdbcType=VARCHAR},
      </if>
      <if test="expenseAgent != null">
        #{expenseAgent,jdbcType=VARCHAR},
      </if>
      <if test="expensePic != null">
        #{expensePic,jdbcType=VARCHAR},
      </if>
      <if test="expenseCertifictedcondition != null">
        #{expenseCertifictedcondition,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.Expense">
    update expense
    <set>
      <if test="organizationCode != null">
        organization_code = #{organizationCode,jdbcType=INTEGER},
      </if>
      <if test="expenseTime != null">
        expense_time = #{expenseTime,jdbcType=DATE},
      </if>
      <if test="expenseOrganization != null">
        expense_organization = #{expenseOrganization,jdbcType=VARCHAR},
      </if>
      <if test="expenseMoney != null">
        expense_money = #{expenseMoney,jdbcType=REAL},
      </if>
      <if test="expenseEvent != null">
        expense_event = #{expenseEvent,jdbcType=VARCHAR},
      </if>
      <if test="expenseAgent != null">
        expense_agent = #{expenseAgent,jdbcType=VARCHAR},
      </if>
      <if test="expensePic != null">
        expense_pic = #{expensePic,jdbcType=VARCHAR},
      </if>
      <if test="expenseCertifictedcondition != null">
        expense_certifictedCondition = #{expenseCertifictedcondition,jdbcType=VARCHAR},
      </if>
    </set>
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.Expense">
    update expense
    set organization_code = #{organizationCode,jdbcType=INTEGER},
      expense_time = #{expenseTime,jdbcType=DATE},
      expense_organization = #{expenseOrganization,jdbcType=VARCHAR},
      expense_money = #{expenseMoney,jdbcType=REAL},
      expense_event = #{expenseEvent,jdbcType=VARCHAR},
      expense_agent = #{expenseAgent,jdbcType=VARCHAR},
      expense_pic = #{expensePic,jdbcType=VARCHAR},
      expense_certifictedCondition = #{expenseCertifictedcondition,jdbcType=VARCHAR}
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.protecthair.domain.Expense">
    <constructor>
      <idArg column="expense_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="expense_team_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="expense_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="expense_money" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="expense_event" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_agent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_certifictedCondition" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    expense_code, expense_team_id, expense_time, expense_money, expense_event, expense_agent, 
    expense_pic, expense_certifictedCondition, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from expense
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from expense
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.Expense">
    insert into expense (expense_code, expense_team_id, expense_time, 
      expense_money, expense_event, expense_agent, 
      expense_pic, expense_certifictedCondition, 
      created_time)
    values (#{expenseCode,jdbcType=INTEGER}, #{expenseTeamId,jdbcType=INTEGER}, #{expenseTime,jdbcType=DATE}, 
      #{expenseMoney,jdbcType=DOUBLE}, #{expenseEvent,jdbcType=VARCHAR}, #{expenseAgent,jdbcType=VARCHAR}, 
      #{expensePic,jdbcType=VARCHAR}, #{expenseCertifictedcondition,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.Expense">
    insert into expense
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expenseCode != null">
        expense_code,
      </if>
      <if test="expenseTeamId != null">
        expense_team_id,
      </if>
      <if test="expenseTime != null">
        expense_time,
      </if>
      <if test="expenseMoney != null">
        expense_money,
      </if>
      <if test="expenseEvent != null">
        expense_event,
      </if>
      <if test="expenseAgent != null">
        expense_agent,
      </if>
      <if test="expensePic != null">
        expense_pic,
      </if>
      <if test="expenseCertifictedcondition != null">
        expense_certifictedCondition,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expenseCode != null">
        #{expenseCode,jdbcType=INTEGER},
      </if>
      <if test="expenseTeamId != null">
        #{expenseTeamId,jdbcType=INTEGER},
      </if>
      <if test="expenseTime != null">
        #{expenseTime,jdbcType=DATE},
      </if>
      <if test="expenseMoney != null">
        #{expenseMoney,jdbcType=DOUBLE},
      </if>
      <if test="expenseEvent != null">
        #{expenseEvent,jdbcType=VARCHAR},
      </if>
      <if test="expenseAgent != null">
        #{expenseAgent,jdbcType=VARCHAR},
      </if>
      <if test="expensePic != null">
        #{expensePic,jdbcType=VARCHAR},
      </if>
      <if test="expenseCertifictedcondition != null">
        #{expenseCertifictedcondition,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.Expense">
    update expense
    <set>
      <if test="expenseTeamId != null">
        expense_team_id = #{expenseTeamId,jdbcType=INTEGER},
      </if>
      <if test="expenseTime != null">
        expense_time = #{expenseTime,jdbcType=DATE},
      </if>
      <if test="expenseMoney != null">
        expense_money = #{expenseMoney,jdbcType=DOUBLE},
      </if>
      <if test="expenseEvent != null">
        expense_event = #{expenseEvent,jdbcType=VARCHAR},
      </if>
      <if test="expenseAgent != null">
        expense_agent = #{expenseAgent,jdbcType=VARCHAR},
      </if>
      <if test="expensePic != null">
        expense_pic = #{expensePic,jdbcType=VARCHAR},
      </if>
      <if test="expenseCertifictedcondition != null">
        expense_certifictedCondition = #{expenseCertifictedcondition,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.Expense">
    update expense
    set expense_team_id = #{expenseTeamId,jdbcType=INTEGER},
      expense_time = #{expenseTime,jdbcType=DATE},
      expense_money = #{expenseMoney,jdbcType=DOUBLE},
      expense_event = #{expenseEvent,jdbcType=VARCHAR},
      expense_agent = #{expenseAgent,jdbcType=VARCHAR},
      expense_pic = #{expensePic,jdbcType=VARCHAR},
      expense_certifictedCondition = #{expenseCertifictedcondition,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.protecthair.domain.Expense">
    <constructor>
      <idArg column="expense_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="expense_member_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="expense_organization" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_time" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="expense_money" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="expense_event" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_agent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expense_certifictedCondition" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    expense_code, expense_member_id, expense_organization, expense_time, expense_money, 
    expense_event, expense_agent, expense_pic, expense_certifictedCondition, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from expense
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from expense
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.Expense">
    insert into expense (expense_code, expense_member_id, expense_organization, 
      expense_time, expense_money, expense_event, 
      expense_agent, expense_pic, expense_certifictedCondition, 
      created_time)
    values (#{expenseCode,jdbcType=INTEGER}, #{expenseMemberId,jdbcType=INTEGER}, #{expenseOrganization,jdbcType=VARCHAR}, 
      #{expenseTime,jdbcType=DATE}, #{expenseMoney,jdbcType=DOUBLE}, #{expenseEvent,jdbcType=VARCHAR}, 
      #{expenseAgent,jdbcType=VARCHAR}, #{expensePic,jdbcType=VARCHAR}, #{expenseCertifictedcondition,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.Expense">
    insert into expense
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expenseCode != null">
        expense_code,
      </if>
      <if test="expenseMemberId != null">
        expense_member_id,
      </if>
      <if test="expenseOrganization != null">
        expense_organization,
      </if>
      <if test="expenseTime != null">
        expense_time,
      </if>
      <if test="expenseMoney != null">
        expense_money,
      </if>
      <if test="expenseEvent != null">
        expense_event,
      </if>
      <if test="expenseAgent != null">
        expense_agent,
      </if>
      <if test="expensePic != null">
        expense_pic,
      </if>
      <if test="expenseCertifictedcondition != null">
        expense_certifictedCondition,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expenseCode != null">
        #{expenseCode,jdbcType=INTEGER},
      </if>
      <if test="expenseMemberId != null">
        #{expenseMemberId,jdbcType=INTEGER},
      </if>
      <if test="expenseOrganization != null">
        #{expenseOrganization,jdbcType=VARCHAR},
      </if>
      <if test="expenseTime != null">
        #{expenseTime,jdbcType=DATE},
      </if>
      <if test="expenseMoney != null">
        #{expenseMoney,jdbcType=DOUBLE},
      </if>
      <if test="expenseEvent != null">
        #{expenseEvent,jdbcType=VARCHAR},
      </if>
      <if test="expenseAgent != null">
        #{expenseAgent,jdbcType=VARCHAR},
      </if>
      <if test="expensePic != null">
        #{expensePic,jdbcType=VARCHAR},
      </if>
      <if test="expenseCertifictedcondition != null">
        #{expenseCertifictedcondition,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.Expense">
    update expense
    <set>
      <if test="expenseMemberId != null">
        expense_member_id = #{expenseMemberId,jdbcType=INTEGER},
      </if>
      <if test="expenseOrganization != null">
        expense_organization = #{expenseOrganization,jdbcType=VARCHAR},
      </if>
      <if test="expenseTime != null">
        expense_time = #{expenseTime,jdbcType=DATE},
      </if>
      <if test="expenseMoney != null">
        expense_money = #{expenseMoney,jdbcType=DOUBLE},
      </if>
      <if test="expenseEvent != null">
        expense_event = #{expenseEvent,jdbcType=VARCHAR},
      </if>
      <if test="expenseAgent != null">
        expense_agent = #{expenseAgent,jdbcType=VARCHAR},
      </if>
      <if test="expensePic != null">
        expense_pic = #{expensePic,jdbcType=VARCHAR},
      </if>
      <if test="expenseCertifictedcondition != null">
        expense_certifictedCondition = #{expenseCertifictedcondition,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.Expense">
    update expense
    set expense_member_id = #{expenseMemberId,jdbcType=INTEGER},
      expense_organization = #{expenseOrganization,jdbcType=VARCHAR},
      expense_time = #{expenseTime,jdbcType=DATE},
      expense_money = #{expenseMoney,jdbcType=DOUBLE},
      expense_event = #{expenseEvent,jdbcType=VARCHAR},
      expense_agent = #{expenseAgent,jdbcType=VARCHAR},
      expense_pic = #{expensePic,jdbcType=VARCHAR},
      expense_certifictedCondition = #{expenseCertifictedcondition,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where expense_code = #{expenseCode,jdbcType=INTEGER}
  </update>
</mapper>