<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protecthair.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.protecthair.domain.Log">
    <constructor>
      <idArg column="log_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="log_team_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="log_operate_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.protecthair.domain.Log">
    <constructor>
      <idArg column="log_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="log_team_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="log_operate_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="log_specific" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    log_code, log_team_id, log_operate_time
  </sql>
  <sql id="Blob_Column_List">
    log_specific
  </sql>

<!--按照log_code主键查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log
    where log_code = #{logCode,jdbcType=INTEGER}
  </select>
  <!--  传入不为空的时候才更改，其他时候保留原有的默认值-->
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.Log">
    update log
    <set>
      <if test="logTeamId != null">
        log_team_id = #{logTeamId,jdbcType=INTEGER},
      </if>
      <if test="logOperateTime != null">
        log_operate_time = #{logOperateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logSpecific != null">
        log_specific = #{logSpecific,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where log_code = #{logCode,jdbcType=INTEGER}
  </update>
<!--  如果有值为空显示为空的插入-->
  <insert id="insertSelective" parameterType="com.protecthair.domain.Log">
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logCode != null">
        log_code,
      </if>
      <if test="logTeamId != null">
        log_team_id,
      </if>
      <if test="logOperateTime != null">
        log_operate_time,
      </if>
      <if test="logSpecific != null">
        log_specific,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logCode != null">
        #{logCode,jdbcType=INTEGER},
      </if>
      <if test="logTeamId != null">
        #{logTeamId,jdbcType=INTEGER},
      </if>
      <if test="logOperateTime != null">
        #{logOperateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logSpecific != null">
        #{logSpecific,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
<!--  查询指定团队所有日志-->
  <select id="queryTeamLog"  resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log
    where log_team_id = #{logTeamId,jdbcType=INTEGER}
  </select>

  <select id="queryAll"  resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from log
  </select>
  <insert id="insert" parameterType="com.protecthair.domain.Log">
    insert into log (log_code, log_team_id, log_operate_time,
      log_specific)
    values (#{logCode,jdbcType=INTEGER}, #{logTeamId,jdbcType=INTEGER}, #{logOperateTime,jdbcType=TIMESTAMP},
      #{logSpecific,jdbcType=LONGVARCHAR})
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log
    where log_code = #{logCode,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.protecthair.domain.Log">
    update log
    set log_team_id = #{logTeamId,jdbcType=INTEGER},
      log_operate_time = #{logOperateTime,jdbcType=TIMESTAMP},
      log_specific = #{logSpecific,jdbcType=LONGVARCHAR}
    where log_code = #{logCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.Log">
    update log
    set log_team_id = #{logTeamId,jdbcType=INTEGER},
      log_operate_time = #{logOperateTime,jdbcType=TIMESTAMP}
    where log_code = #{logCode,jdbcType=INTEGER}
  </update>
</mapper>