<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protecthair.dao.RouteMapper">
  <resultMap id="BaseResultMap" type="com.protecthair.domain.Route">
    <constructor>
      <idArg column="route_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="route_name" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="route_level" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="route_url" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="parent_route_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    route_code, route_name, route_level, route_url, parent_route_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from route
    where route_code = #{routeCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from route
    where route_code = #{routeCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.Route">
    insert into route (route_code, route_name, route_level, 
      route_url, parent_route_code)
    values (#{routeCode,jdbcType=INTEGER}, #{routeName,jdbcType=CHAR}, #{routeLevel,jdbcType=CHAR}, 
      #{routeUrl,jdbcType=CHAR}, #{parentRouteCode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.Route">
    insert into route
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="routeCode != null">
        route_code,
      </if>
      <if test="routeName != null">
        route_name,
      </if>
      <if test="routeLevel != null">
        route_level,
      </if>
      <if test="routeUrl != null">
        route_url,
      </if>
      <if test="parentRouteCode != null">
        parent_route_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="routeCode != null">
        #{routeCode,jdbcType=INTEGER},
      </if>
      <if test="routeName != null">
        #{routeName,jdbcType=CHAR},
      </if>
      <if test="routeLevel != null">
        #{routeLevel,jdbcType=CHAR},
      </if>
      <if test="routeUrl != null">
        #{routeUrl,jdbcType=CHAR},
      </if>
      <if test="parentRouteCode != null">
        #{parentRouteCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.Route">
    update route
    <set>
      <if test="routeName != null">
        route_name = #{routeName,jdbcType=CHAR},
      </if>
      <if test="routeLevel != null">
        route_level = #{routeLevel,jdbcType=CHAR},
      </if>
      <if test="routeUrl != null">
        route_url = #{routeUrl,jdbcType=CHAR},
      </if>
      <if test="parentRouteCode != null">
        parent_route_code = #{parentRouteCode,jdbcType=INTEGER},
      </if>
    </set>
    where route_code = #{routeCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.Route">
    update route
    set route_name = #{routeName,jdbcType=CHAR},
      route_level = #{routeLevel,jdbcType=CHAR},
      route_url = #{routeUrl,jdbcType=CHAR},
      parent_route_code = #{parentRouteCode,jdbcType=INTEGER}
    where route_code = #{routeCode,jdbcType=INTEGER}
  </update>

</mapper>