<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protecthair.dao.RouteRightMapper">
  <resultMap id="BaseResultMap" type="com.protecthair.domain.RouteRight">
    <constructor>
      <arg column="route_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="route_parent_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="right_level" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.protecthair.domain.RouteRight">
    insert into route_right (route_code, route_parent_code, right_level
      )
    values (#{routeCode,jdbcType=VARCHAR}, #{routeParentCode,jdbcType=VARCHAR}, #{rightLevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.RouteRight">
    insert into route_right
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="routeCode != null">
        route_code,
      </if>
      <if test="routeParentCode != null">
        route_parent_code,
      </if>
      <if test="rightLevel != null">
        right_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="routeCode != null">
        #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="routeParentCode != null">
        #{routeParentCode,jdbcType=VARCHAR},
      </if>
      <if test="rightLevel != null">
        #{rightLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.protecthair.domain.RouteRight">
    <constructor>
      <arg column="route_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="route_parent_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="right_level" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.protecthair.domain.RouteRight">
    insert into route_right (route_code, route_parent_code, right_level
      )
    values (#{routeCode,jdbcType=VARCHAR}, #{routeParentCode,jdbcType=VARCHAR}, #{rightLevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.RouteRight">
    insert into route_right
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="routeCode != null">
        route_code,
      </if>
      <if test="routeParentCode != null">
        route_parent_code,
      </if>
      <if test="rightLevel != null">
        right_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="routeCode != null">
        #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="routeParentCode != null">
        #{routeParentCode,jdbcType=VARCHAR},
      </if>
      <if test="rightLevel != null">
        #{rightLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>