<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protecthair.dao.TeamMapper">
  <resultMap id="BaseResultMap" type="com.protecthair.domain.Team">
    <constructor>
      <idArg column="team_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_college" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_leader_student_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_leader_student_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_level" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    team_id, team_name, team_college, team_leader_student_name, team_leader_student_id, 
    team_level, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team
    where team_id = #{teamId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.Team">
    insert into team (team_id, team_name, team_college, 
      team_leader_student_name, team_leader_student_id, 
      team_level, created_time)
    values (#{teamId,jdbcType=INTEGER}, #{teamName,jdbcType=VARCHAR}, #{teamCollege,jdbcType=VARCHAR}, 
      #{teamLeaderStudentName,jdbcType=VARCHAR}, #{teamLeaderStudentId,jdbcType=INTEGER}, 
      #{teamLevel,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.Team">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        team_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamCollege != null">
        team_college,
      </if>
      <if test="teamLeaderStudentName != null">
        team_leader_student_name,
      </if>
      <if test="teamLeaderStudentId != null">
        team_leader_student_id,
      </if>
      <if test="teamLevel != null">
        team_level,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamCollege != null">
        #{teamCollege,jdbcType=VARCHAR},
      </if>
      <if test="teamLeaderStudentName != null">
        #{teamLeaderStudentName,jdbcType=VARCHAR},
      </if>
      <if test="teamLeaderStudentId != null">
        #{teamLeaderStudentId,jdbcType=INTEGER},
      </if>
      <if test="teamLevel != null">
        #{teamLevel,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.Team">
    update team
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="teamCollege != null">
        team_college = #{teamCollege,jdbcType=VARCHAR},
      </if>
      <if test="teamLeaderStudentName != null">
        team_leader_student_name = #{teamLeaderStudentName,jdbcType=VARCHAR},
      </if>
      <if test="teamLeaderStudentId != null">
        team_leader_student_id = #{teamLeaderStudentId,jdbcType=INTEGER},
      </if>
      <if test="teamLevel != null">
        team_level = #{teamLevel,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.Team">
    update team
    set team_name = #{teamName,jdbcType=VARCHAR},
      team_college = #{teamCollege,jdbcType=VARCHAR},
      team_leader_student_name = #{teamLeaderStudentName,jdbcType=VARCHAR},
      team_leader_student_id = #{teamLeaderStudentId,jdbcType=INTEGER},
      team_level = #{teamLevel,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
</mapper>