<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.protecthair.dao.TeamMemberMapper">
  <resultMap id="BaseResultMap" type="com.protecthair.domain.TeamMember">
    <constructor>
      <idArg column="team_member_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_name" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_member_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="student_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_major" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_college" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_leader" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    team_member_id, team_name, team_member_name, student_id, team_member_major, team_member_college, 
    is_leader
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member (team_member_id, team_name, team_member_name, 
      student_id, team_member_major, team_member_college, 
      is_leader)
    values (#{teamMemberId,jdbcType=INTEGER}, #{teamName,jdbcType=INTEGER}, #{teamMemberName,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{teamMemberMajor,jdbcType=VARCHAR}, #{teamMemberCollege,jdbcType=VARCHAR}, 
      #{isLeader,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        team_member_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamMemberName != null">
        team_member_name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="teamMemberMajor != null">
        team_member_major,
      </if>
      <if test="teamMemberCollege != null">
        team_member_college,
      </if>
      <if test="isLeader != null">
        is_leader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        #{teamMemberId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        #{isLeader,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        is_leader = #{isLeader,jdbcType=VARCHAR},
      </if>
    </set>
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    set team_name = #{teamName,jdbcType=INTEGER},
      team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      is_leader = #{isLeader,jdbcType=VARCHAR}
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.protecthair.domain.TeamMember">
    <constructor>
      <idArg column="team_member_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_name" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_member_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="student_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_major" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_college" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_leader" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    team_member_id, team_name, team_member_name, student_id, team_member_major, team_member_college, 
    is_leader
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member (team_member_id, team_name, team_member_name, 
      student_id, team_member_major, team_member_college, 
      is_leader)
    values (#{teamMemberId,jdbcType=INTEGER}, #{teamName,jdbcType=INTEGER}, #{teamMemberName,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{teamMemberMajor,jdbcType=VARCHAR}, #{teamMemberCollege,jdbcType=VARCHAR}, 
      #{isLeader,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        team_member_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamMemberName != null">
        team_member_name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="teamMemberMajor != null">
        team_member_major,
      </if>
      <if test="teamMemberCollege != null">
        team_member_college,
      </if>
      <if test="isLeader != null">
        is_leader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        #{teamMemberId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        #{isLeader,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        is_leader = #{isLeader,jdbcType=VARCHAR},
      </if>
    </set>
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    set team_name = #{teamName,jdbcType=INTEGER},
      team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      is_leader = #{isLeader,jdbcType=VARCHAR}
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.protecthair.domain.TeamMember">
    <constructor>
      <idArg column="team_member_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_name" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_member_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="student_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_major" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_college" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_leader" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    team_member_id, team_name, team_member_name, student_id, team_member_major, team_member_college, 
    is_leader
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member (team_member_id, team_name, team_member_name, 
      student_id, team_member_major, team_member_college, 
      is_leader)
    values (#{teamMemberId,jdbcType=INTEGER}, #{teamName,jdbcType=INTEGER}, #{teamMemberName,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{teamMemberMajor,jdbcType=VARCHAR}, #{teamMemberCollege,jdbcType=VARCHAR}, 
      #{isLeader,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        team_member_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamMemberName != null">
        team_member_name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="teamMemberMajor != null">
        team_member_major,
      </if>
      <if test="teamMemberCollege != null">
        team_member_college,
      </if>
      <if test="isLeader != null">
        is_leader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        #{teamMemberId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        #{isLeader,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        is_leader = #{isLeader,jdbcType=VARCHAR},
      </if>
    </set>
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    set team_name = #{teamName,jdbcType=INTEGER},
      team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      is_leader = #{isLeader,jdbcType=VARCHAR}
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.protecthair.domain.TeamMember">
    <constructor>
      <idArg column="team_member_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_name" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="team_member_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="student_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_major" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="team_member_college" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_leader" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    team_member_id, team_name, team_member_name, student_id, team_member_major, team_member_college, 
    is_leader
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from team_member
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member (team_member_id, team_name, team_member_name, 
      student_id, team_member_major, team_member_college, 
      is_leader)
    values (#{teamMemberId,jdbcType=INTEGER}, #{teamName,jdbcType=INTEGER}, #{teamMemberName,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{teamMemberMajor,jdbcType=VARCHAR}, #{teamMemberCollege,jdbcType=VARCHAR}, 
      #{isLeader,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.protecthair.domain.TeamMember">
    insert into team_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        team_member_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="teamMemberName != null">
        team_member_name,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="teamMemberMajor != null">
        team_member_major,
      </if>
      <if test="teamMemberCollege != null">
        team_member_college,
      </if>
      <if test="isLeader != null">
        is_leader,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamMemberId != null">
        #{teamMemberId,jdbcType=INTEGER},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        #{isLeader,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    <set>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=INTEGER},
      </if>
      <if test="teamMemberName != null">
        team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberMajor != null">
        team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      </if>
      <if test="teamMemberCollege != null">
        team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      </if>
      <if test="isLeader != null">
        is_leader = #{isLeader,jdbcType=VARCHAR},
      </if>
    </set>
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.protecthair.domain.TeamMember">
    update team_member
    set team_name = #{teamName,jdbcType=INTEGER},
      team_member_name = #{teamMemberName,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      team_member_major = #{teamMemberMajor,jdbcType=VARCHAR},
      team_member_college = #{teamMemberCollege,jdbcType=VARCHAR},
      is_leader = #{isLeader,jdbcType=VARCHAR}
    where team_member_id = #{teamMemberId,jdbcType=INTEGER}
  </update>
</mapper>